{% extends 'base.html' %}
{% block title %}Follow Someone{% endblock %}
{% block content %}

    <div class="row-fluid" style="padding: 20px">
        {% if user_list %}
            {% for user in  user_list %}
                <div class="span3">
                    <h4>{{ user.first_name }} {{  user.last_name }}</h4>
                    <ul class="arrow">
                        <li>First Name: {{ user.first_name }} </li>
                        <li>Last Name: {{  user.last_name }}</li>
                        <li>Username: {{ user.username }}</li>
                    </ul>
                    <form method="post">
                        <input type="hidden" name="pk" value="{{ user.pk }}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success small" value="+Follow">
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <b>No more user to follow</b>
        {% endif %}
    </div>
{% endblock %}


