{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Welcome To Simplified Twitter{% endblock %}
{% block content %}
    <section id="tweets" class="container">
        <div class="row-fluid">
            <div class="span8">
                <div class="blog">

                    <form method="post" id="twit-post" class="center" action="/post/twit">
                        <fieldset>
                            {{ post_form|bootstrap }}
                            <input type="submit" class="btn btn-success pull-right" value="Submit">
                            {% csrf_token %}
                        </fieldset>
                    </form>
                    {% for twit in twits %}
                        <div class="blog-item well">
                            <p>{{ twit.2 }}</p>
                            <div class="blog-meta clearfix">
                                <p class="pull-left">
                                    <i class="icon-user"></i> by <a href="#">{{ twit.0 }}</a>
                                    <i class="icon-calendar"></i> {{  twit.1}}

                                </p>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
            <aside class="span4">
                <a href="/search/user">Follow someone</a>
            </aside>
        </div>
    </section>
    <style>
        #twit-post label{
            display: none;
        }
        #twit-post input[type='text']{
            width:95%;
        }
        aside{
            border: 1px solid red;
            padding: 10px;
        }
        i{margin-right: 5px}
    </style>
{% endblock %}